html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 2.25rem;
  font-weight: 800;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

div,
nav,
section,
header {
  border: 1px solid black;
}

section {
  display: flex;
}

strong {
  font-weight: 600;
}

.main-content {
  padding-top: 4rem; /* offset header */
}

.image-container img {
  display: block;
  max-width: 100%;
}

/* Header */

header {
  position: fixed;
  width: 100%;
  background-color: #fff;
}

header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 1.5rem;
}

header .logo {
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
}

/* Banner */

#banner {
  align-items: center;
  padding: 2rem 1.5rem;
}

#banner .image-container {
  width: 60%;
  height: auto;
}

#banner .content {
  padding-left: 2.5rem;
}

#banner h1, #banner p {
  padding-bottom: 1.5rem;
}

#banner .button {
  text-align: center;
  background-color: gray;
  vertical-align: middle;
  padding: 0.5rem;
}

/* Information */


#information .main {
  padding: 2rem 1.5rem;
}

#information .main .content {
  padding-right: 1rem;
}

#information .main h1{
  padding: 2rem 0 1.5rem 0;
}

#information .main p{
  padding-bottom: 2.5rem;
}

#information .column {
  display: block;
  min-width: 423px;
  max-width: 423px;
}

#information .item {
  display: flex;
  align-items: center;
  padding: 1rem;
}
 #information .item:first-of-type {
   padding-top: 2rem;
 }

 #information .item:last-of-type {
   background-color: lightgrey;
 }

#information .item .image-container {
  max-width: 35%;
  min-width: 35%;
  height: auto;
}

#information .item .content {
  padding-left: 1rem;
}

#information .item h3, .item p {
  padding-bottom: 0.5rem;
}

/* Courses */

#courses {
  align-items: center;
  flex-direction: column;
  padding: 2rem 1.5rem;
  background-color: lightgrey;
}

#courses h1 {
  text-align: center;
  padding-bottom: 2rem;
}

#courses .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#courses .item {
  display: flex;
  flex-direction: column;
  min-height: 220px;
  max-width: 30%;
  margin: 0 1rem 1rem 1rem;
  background-color: #fff;
}

#courses .content {
  padding: 1rem 1rem 2rem 1rem;
}
