html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

div, nav, section, header {
  border: 1px solid black;
}

section {
  display: flex;
  padding: 2rem 1.5rem;
}

strong {
  font-weight: 600;
}

.main-content {
  padding-top: 4rem; /* offset header */
}

.image-container img {
  display: block;
  max-width: 100%;
}

/* Header */

header {
  position: fixed;
  width: 100%;
  background-color: #fff;
}

header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 1.5rem;
}

header .logo {
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
}

/* Banner */

#banner {
  align-items: center;
}

#banner .image-container {
  width: 60%;
  height: auto;
}

#banner .content {
  padding-left: 2.5rem;
}

#banner h1, #banner p {
  padding-bottom: 1.5rem;
}

#banner .button {
  text-align: center;
  background-color: gray;
  vertical-align: middle;
  padding: 0.5rem;
}

/* Information */

#information {
  justify-content: space-between;
  padding-right: 0;
}

#information .information-main {
  padding-right: 1.5rem;
}

#information .information-column {
  display: block;
  min-width: 423px;
  max-width: 423px;
}

.information-item {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.information-item .image-container {
  width: 35%;
}

.information-item .content {
  padding-left: 1rem;
}
